@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: HanaRegular;
  src: url("/public/fonts/Hana2-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: HanaMedium;
  src: url("/public/fonts/Hana2-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: HanaBold;
  src: url("/public/fonts/Hana2-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 390px;
  min-height: 100vh;
  background-color: #e9e9e9;
  font-family: "HanaRegular";
  text-align: center;
  overflow: hidden;
}
